<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

	<style>
		.pointer {
			cursor: pointer;
		}
		img {
			max-width: 100%;
		}
	</style>

	<div id="app">
		<div class="container pt-5">
			<div class="row">
				<div class="col">
					<h1>Car app</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="search">Find your car</label>
						<input type="text" class="form-control" id="search" v-model="search">
						{{search}}
					</div>

					<hr>
					
					<ul class="list-group">
						<li 
							v-for="(car, index) of filteredCars"
							class="list-group-item list-group-item-action pointer" 
							@click="selectCar(index)"
							:class="{'active' : selectedCarIndex === index}"
						> {{ car.name }} - {{ car.model }} </li>
					</ul>

				</div>
				<div class="col-md-8 pt-3">
					<div class="row">
						<div class="col-md-5">
							<h2>{{ car.name }}</h2>
							<img :src="car.image" alt="" class="rounded detailed-car-image">
						</div>
						<div class="col-md-7">
							<h5>Car details</h5>
							<ul>
								<li>Model - <strong>{{ car.model }}</strong></li>
								<li>Year - <strong>{{ car.year }}</strong></li>
								<li>Owner - <strong>{{ car.owner }}</strong></li>
							</ul>

							<p v-if="showPhone">{{ car.number }}</p>
							
							<button class="btn btn-outline-success mr-3" @click="showPhone = !showPhone">{{ phoneBtnText }}</button>
							<button class="btn btn-primary">Buy</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>

		const cars = [ 
			{
				name: "chevrolete",
				model: "camaro",
				year: 2015,
				owner: "Max",
				number: "+7 921 123 45 67",
				image: "http://pngimg.com/uploads/camaro/camaro_PNG34.png",
			},
			{
				name: "ferrari",
				model: "model",
				year: 2017,
				owner: "Danil",
				number: "+7 323 156 36 86",
				image: "http://pngimg.com/uploads/ferrari/ferrari_PNG10680.png",
			},
			{
				name: "ford",
				model: "mustang",
				year: 2019,
				owner: "Alex",
				number: "+7 854 875 32 08",
				image: "http://pngimg.com/uploads/mustang/mustang_PNG51.png",
			},

		];

		new Vue({
			el: "#app",
			data: {
				cars: cars,
				car: cars[0],
				selectedCarIndex: 0,
				showPhone: false,
				search: ""
			},
			methods: {
				selectCar: function(index) {
					this.car = cars[index]
					this.selectedCarIndex = index
				}
			},
			computed: {
				phoneBtnText() {
					return this.showPhone ? "hide phone" : "show phone"
				},
				filteredCars() {
					var self = this
					const filtered = this.cars.filter(function(car) {
						return car.name.indexOf(self.search) > -1
					})

					return filtered
				}
			}

		});

	</script>
</body>
</html>
